/* ================================
        Footer css
================================ */
footer{
  display: flex;
  justify-content: flex-end;
  background-color: $lightgray;
  i{
    font-size: 25px;
  }
}
