/* ================================
        Variables css
================================ */

// Colors
$white: #fff;
$black: #000;
$bluetext: #1CB9C8;
$darkgray: #222222;
$barblue: #01C2D3;
$barblack: #101010;
