/* ================================
        Base css
================================ */
.content-grid {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-areas: ". grid-content .";

  .content-grid-item {
    grid-area: grid-content;
  }
}

.section-content {
  padding: 34px 0;
}
