/* ================================
      Around css
================================ */
#around {
  background-image: url("../img/around/Oval.svg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 410px;
  text-align: right;
  margin-top: -45px;

  h1 {
    padding-top: 65px;
    color: $yellow;
  }

  article {
    margin-left: 85px;
    color: $white;
  }

  #left {
    padding-top: 22px;
    text-align: left;
    margin-right: 96px;
    margin-left: 0;
    color: $black;
  }
}
