/* ================================
      Around css
================================ */
#around{
  background-image: url("../img/around/Oval.svg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 410px;
  text-align: right;
  h1{
    color: $yellow;
  }
  article{
    margin-left: 44px;
  }

  #left{
    text-align: left;
    margin-right: 56px;
    margin-left: 0;
  }
}
