/* ================================
      Film css
================================ */
#egyptian {
  background-image: url("../img/theaters/theater.jpg");
  background-position: center;
  background-size: cover;
  height: 243px;
}
