/* ================================
      Hero css
================================ */
#hero{
  background-image: url("../img/header/howtofest.jpg");
  background-position: center;
  background-size: cover;
  h2{
    text-align: left;
    font-size: rem-calc(18);
  }
}
