/* ================================
      Theaters css
================================ */
#theaters{
  background-image: url("../img/theaters/oval.svg");
  background-position: left;
  background-repeat: no-repeat;
  margin-top: -125px;
  h1{
    padding-top: 60px;
  }
}
