/* ================================
      Hero css
================================ */
#hero {
  background-image: url("../img/header/howtofest.jpg");
  background-position: right;
  background-size: cover;
  height: 220px;
  width: 100%;

  h2 {
    margin-left: 70px;
    text-align: right;
    font-size: rem-calc(35);
    line-height: rem-calc(40);
    color: $white;
    padding-left: 10px;
  }
}
