/* ================================
      Theaters css
================================ */
#theaters{
  background-image: url("../img/theaters/oval.svg");
  background-position: left;
  background-repeat: no-repeat;
  margin-top: -135px;
  h1{
    padding-top: 125px;
  }
  p{
    margin-right: 35px;
  }
}
